body{
    min-height:900px;
    background-image: url("https://i.pinimg.com/originals/45/3f/14/453f143ad31ed8482ebed9c4084b8059.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    margin-bottom: 290px;
}

hr{
  width: 100%;
  border-color:rgb(10, 65, 10); 
}

.wrapper{
  min-height:100%;
}

.navbar-brand{
    font-weight: bold;
}

.contentHeader{
  color: rgb(10, 65, 10);
  font-family: "poppin";
  border-style: groove;
  font-weight:bold;
}

.footer{
    position: fixed;
    bottom:0;
    width:100%;
    line-height:2em;
    margin-top: 80px;
    padding:25px 0px 0px 0px;
    text-align:center;
    background-color:rgb(51, 51, 51);
    /* box-sizing: border-box; */
    
}

.fa {
    padding: 8px;
    font-size: 25px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-github {
      background:black;
      color: white;
  }

  #createdBy{
    font-family:Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-size:10px;
  }

  #contactMe{
    background-color:rgb(248, 247, 247);
    padding:30px;
    border:3px;
    border-style:groove;
    border-color:black;
  }

  #portfolio{
    background-color:rgb(248, 247, 247);
    padding:30px 20px;
    border:3px;
    border-style:groove;
    border-color:black;
    align-content: center;
  }

  .row img{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    vertical-align: middle;
    width: 100%;
    padding:1rem;
  }
